@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");

// $primary-color: #141c2f;
// $sec-color: #1f2a48;
// $min-color: rgb(245, 244, 244);

$primary-color: #171717;
$sec-color: #444444;
$min-color: #da0037;

body {
  background-color: $primary-color;
  margin: 10%;
}

@media only screen and (max-width: 415px) {
  body {
    margin: 0;
  }
}

.spinner-gif {
  width: 120px;
  margin-left: 47%;
  margin-top: 10%;
}

@media only screen and (max-width: 415px) {
  .spinner-gif {
    margin-left: 30%;
  }
}

/*  */

/* Navbar ================================== */
.heading,
h1 {
  color: $min-color;
  font-weight: bold;
  font-family: "Signika Negative", sans-serif;
}

.cta-link {
  text-decoration: none;
  margin-left: 70%;
  color: $min-color;
  font-size: 0.7em;
}

@media only screen and (max-width: 415px) {
  .heading {
    margin-top: 4rem;
  }

  .cta-link {
    margin-left: 30%;
  }
}

/* Search input =================================*/
.search-section {
  margin-left: 12rem;
  width: 60%;
}
@media only screen and (max-width: 415px) {
  .search-section {
    margin: 0;
  }
}

.box {
  background-color: $sec-color;
  position: relative;
  /* width: 75%; */
}

.icon-cog {
  color: $min-color;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

icon-search {
  color: $primary-color;
}

.input-container {
  background-color: $sec-color;
  border-radius: 10px 10px 10px 15px;
}

@media only screen and (max-width: 415px) {
  .input-container {
    width: 190%;
  }
}

.input-text {
  height: 2.5em;
  width: 55%;

  margin-left: 2rem;
  background-color: $sec-color;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  // border-bottom-style: none;
}

.search-btn {
  background-color: $min-color;
  margin-top: 1rem;
  margin-left: 4rem;
  height: 3rem;
  width: 20%;
}

@media only screen and (max-width: 415px) {
  .search-btn {
    margin-left: 3rem;
    width: 70%;
  }
}

.input-text:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgb(172, 172, 172);
  font-size: clamp(10px, 1vw, 80px);
}

input,
select,
textarea {
  color: #ffffff;
}

/* Users ===================================== */
.user-container {
  margin-left: 10%;
  padding-top: 1rem;
  width: 80%;
}

/* User Item ================================ */

.user-card {
  background-color: $sec-color;
  border-radius: 29px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.profile {
  border-radius: 50%;
  width: 85px;
  height: 80px;
  margin-left: 80px;
  margin-top: 10px;
}

.show-more-btn {
  background-color: $min-color;
  color: #ffffff;
}

.show-more-btn:hover {
  color: #cfcfcf;
}

/* One User ============================================= */
.user-con {
  margin-left: 10%;
  padding-bottom: 5%;
  width: 90%;
}
.one-user-container {
  background-color: $sec-color;
  border-radius: 38px;
  margin-top: 60%;
  margin-left: -1%;

  width: 50%;
  padding-bottom: 3%;
}

.user-info-container {
  width: 85%;
  margin-left: 8%;
}

.pic-container {
  margin-top: 25px;
  width: 278px;
}

.info-container {
  margin-top: 47px;
}

.fullname,
.username,
.date,
.bio {
  font-family: "Roboto", sans-serif;
}

.username,
.bio,
.date,
.number-content,
.location,
.company,
.links,
.repo-name {
  font-size: 18px;
}

.fullname {
  font-size: 30px;
}

.username {
  line-height: 45px;
  margin-top: 24px;
}

.bio {
  padding-top: 350px;
}

.date-continer {
  margin-top: 47px;
  // margin-right: 2rem;
}

.user-pic {
  border-radius: 50%;
  width: 190px;
  height: 175px;
  margin-left: 38px;
}

@media only screen and (max-width: 415px) {
  .user-pic {
    margin: 0;
  }
}

/*REPOS/FOLLOWERS/FOLLOWING CONTAINER =========================== */

.number-container,
.personal-container {
  width: 85%;
  margin-left: 8%;
}

.number-container {
  background-color: $min-color;
  border-radius: 15px;
  /* height: 129px; */
  margin-top: 28px;
}

.number-content {
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
  text-align: center;
}

.number {
  font-size: 30px;
}

/* Personal Information =============== */

.personal-container {
  border-radius: 15px;
  height: 77px;
  margin-top: 18px;
}

.first-row {
  padding-bottom: 16px;
}

.icons {
  width: 17px;
  height: 19px;
}

/* Repo Section */

.repo-container {
  margin-top: 45px;
}

.repo-name {
  color: #ffffff;
  text-decoration: none;
}

/* footer */

.footer-section {
  margin-left: 40%;
}

@media only screen and (max-width: 415px) {
  .footer-section {
    margin-left: 3rem;
  }
}

.footer-section h1 {
  color: #dbd5d5;
  font-size: 15px;
  opacity: 0.8;
}

/* About and User Container */

.one-user-container {
  border-radius: 29px;
  color: #ffffff;
  margin-right: 1rem;
}

/* About */

.about-section {
  margin-top: 9%;
  color: aliceblue;
}

.first-row {
  width: 95%;
}

.about-profile {
  margin-left: 45%;
  width: 9em;
}

.about-heading {
  width: 60%;
}

.about-section h1 {
  margin-top: 28px;
  font-size: clamp(30px, 1vw, 80px);
  text-align: center;
}

.about-app {
  margin-top: 4%;
}

.proj-content {
  margin-top: 3%;
}

.highlight {
  color: #6c63ff;
}

.about-app h1 {
  font-size: 1.5em;
  text-align: left;
}

.proj-about-row {
  text-align: center;
  margin-left: 15%;
  width: 69%;
}

.proj-about {
  width: 17em;
}
.sicon {
  padding-top: 2%;
}
.socials {
  width: 50%;
  padding-top: 8%;
  padding-bottom: 3%;
  text-align: center;
  margin-left: 20%;
}

/*  */
@media only screen and (max-width: 600px) {
  .about-section {
    margin-top: 25%;
  }
  .about-profile {
    margin-left: 35%;
  }

  .user-container {
    padding-top: 8%;
  }
}
